.App {
  text-align: center;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear;
  height: 80px; */
}

.App-header {
  background-color: rgba(0, 0, 0, 0.07);
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 3em;
}

.App-intro {
  font-size: medium;
  font-weight: lighter;
  font-stretch: extra-expanded;
}
