/* LEVELS.JS */

@import url(https://fonts.googleapis.com/css?family=Patrick+Hand+SC);

.level {
  padding: 20px;
  display: grid;
  grid-template-columns: 100%;
  color: powderblue;
  border: 1px solid powderblue;
  margin: 2rem;
}

.heading {
  font-size: 3rem;
}

button {
  align-self: center;
  background-color: #f0f0d8;
  /* background: transparent; */
  padding: 1rem 1rem;
  margin: 0 1rem;
  transition: all 0.5s ease;
  color: #41403e;
  font-size: 2rem;
  letter-spacing: 1px;
  outline: none;
  box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, 0.2);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  /*
      Above is shorthand for:
      border-top-left-radius: 255px 15px;
      border-top-right-radius: 15px 225px;
      border-bottom-right-radius: 225px 15px;
      border-bottom-left-radius:15px 255px;
      */
  &:hover {
    box-shadow: 2px 8px 4px -6px hsla(0, 0%, 0%, 0.3);
  }
  &.lined.thick {
    border: solid 7px #41403e;
  }
  &.dotted.thick {
    border: dotted 5px #41403e;
  }
  &.dashed.thick {
    border: dashed 5px #41403e;
  }
  &.lined.thin {
    border: solid 2px #41403e;
    background-color: #f0f0d8;
  }
  &.dotted.thin {
    border: dotted 2px #41403e;
  }
  &.dashed.thin {
    border: dashed 2px #41403e;
  }
}

/* CATEGORY.JS */
@import url(https://fonts.googleapis.com/css?family=Patrick+Hand+SC);

.category {
  padding: 20px;
  display: grid;
  grid-template-columns: 100%;
  color: powderblue;
  border: 1px solid azure;
  margin: 2rem;
}

.heading {
  font-size: 3rem;
}

button {
  align-self: center;
  background-color: #f0f0d8;
  /* background: transparent; */
  padding: 0.5rem 0.5rem;
  margin: 0 0.5rem;
  transition: all 0.5s ease;
  color: #41403e;
  font-size: 1.5rem;
  letter-spacing: 1px;
  outline: none;
  box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, 0.2);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  /*
      Above is shorthand for:
      border-top-left-radius: 255px 15px;
      border-top-right-radius: 15px 225px;
      border-bottom-right-radius: 225px 15px;
      border-bottom-left-radius:15px 255px;
      */
  &:hover {
    box-shadow: 2px 8px 4px -6px hsla(0, 0%, 0%, 0.3);
  }
  &.lined.thick {
    border: solid 7px #41403e;
  }
  &.dotted.thick {
    border: dotted 5px #41403e;
  }
  &.dashed.thick {
    border: dashed 5px #41403e;
  }
  &.lined.thin {
    border: solid 2px #41403e;
    background-color: #f0f0d8;
  }
  &.dotted.thin {
    border: dotted 2px #41403e;
  }
  &.dashed.thin {
    border: dashed 2px #41403e;
  }
}

/* CARD.JS */

.card {
  border: 5px solid var(--yellow);
  text-align: center;
  vertical-align: middle;
  padding-top: 5px;
  max-width: 1fr;
}

/* BOARD.JS */

.board {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: minmax(150px, auto);
  border: 5px solid var(--yellow);
}

/* WELCOME.JS */

.welcomecontainer {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.intro {
  color: powderblue;
  font-family: fantasy;
  font-size: 25px;
}

.desc {
  font-family: serif;
  font-style: normal;
  font-weight: normal;
}

.postscript {
  font-style: oblique;
  font-weight: lighter;
}

/*  PLAYCONTAINER.JS*/
.playcontainer {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

/* SIDEBAR.JS */
.sidebar {
  display: grid;
  border: 3px solid var(--yellow);
  margin-right: 5px;
}

/* HOME.JS */
.home {
  display: grid;
  font-size: 1.3em;
  padding: 5px;
  display: grid;
  grid-template-columns: 100;

  /* margin: 2rem; */
}

/* WORD DISPLAY */
.word {
  text-align: center;
  align-items: center;
  font-size: 1.7em;
  padding: 5px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  line-height: 40px;
  color: peru;
}

.word_div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 5px solid var(--yellow);
  margin-bottom: 10px;
}
.word_box {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#caption {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 1.8em;
  margin: 5px;
  font-weight: lighter;
  text-align: left;
  color: white;
}

/* TOP BAR */
.bar {
  display: flex;
  grid-template-columns: 1fr;
}

/* NEW GAME */

.newGame {
  display: grid;
  background-color: violet;
}
