.timer {
  display: grid;
  grid-template-columns: 1fr;
  /* align-items: center; */
  text-align: center;
  font-size: 1.5em;
  padding: 10px;
  margin: 10px;
  line-height: 40px;
  color: white;
  border: 5px solid var(--yellow);
}

.clock {
  display: grid;
  align-items: left;
  grid-template-columns: 0.8fr;

  font-size: 5em;
  /* font-size-adjust: auto; */
}

.react-countdown-clock {
  display: inline;
}

canvas {
  position: inherit;
  display: grid;
  align-items: left;
  grid-template-columns: 0.8fr;
  padding: 10px;
}
