.timer {
  display: grid;
  grid-template-columns: 1fr;
  /* align-items: center; */
  text-align: center;
  font-size: 1.5em;
  padding: 10px;
  margin: 10px;
  line-height: 40px;
  color: white;
  border: 5px solid var(--yellow);
}

.clock {
  font-size: 5em;
  font-size-adjust: auto;
}
