.category {
  padding: 20px;
  display: grid;
  grid-template-columns: 100%;
}

/* make text appear in center of button */
.catButton {
  display: grid;
  grid-template-columns: 20px 20px;
  grid-template-rows: 20px 20px;
  text-align: center;
  margin: 5px;
}

.catButton:active {
  background-color: #3e8e41;
}
