.word {
  text-align: center;
  align-items: center;
  font-size: 1.7em;
  padding: 5px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  line-height: 40px;
  color: peru;
}

.word_box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 5px solid var(--yellow);
  margin-bottom: 10px;
}

#caption {
  display: grid;
  font-size: 1.8em;
  margin: 5px;
  font-weight: lighter;
  text-align: center;
  color: white;
}
