.word {
  display: grid;
  grid-template-columns: 3fr 1fr;
  text-align: center;
  font-size: 1.7em;
  padding: 10px;
  line-height: 40px;
  color: peru;
  border: 5px solid var(--yellow);
}

.mic {
  display: grid;
  text-align: center;
  vertical-align: bottom;
  color: var(--black);
}
